{% extends "layout/base.html" %}

{% block container %}
<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered border-border-dark-subtle table-hover" data-test="urls">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td>
                <a href="{{ url_for('get_url', id=url.id) }}">{{ url.name }}</a>
            </td>
            <td>{{ url.last_check }}</td>
            <td>{{ url.status_code }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock container %}
