<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анализатор страниц</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body class="min-vh-100 d-flex flex-column">
<header class="flex-shrink-0">
    <nav class="navbar navbar-expand-md  navbar-dark bg-primary px-3">
        <a class="navbar-brand" href="/">Анализатор страниц</a>
        <div id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/urls">Сайты</a></li>
          </ul>
        </div>
    </nav>
</header>

{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: </h1>
        <div class="table-responsive">
            <table class="table table-hover table-bordered border-border-dark-subtle" data-test="url">
                <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ id }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ name }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ created_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <h2 class="mt-2">Проверки</h2>
        <form method="post" action="/urls/{{ id }}/checks">
            <input type="submit" value="Запустить проверку" class="btn btn-primary">
        </form>
        
        <table class="table table-bordered border-border-dark-subtle table-hover mt-3" data-test="url">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Код ответа</th>
                <th scope="col">h1</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            
            <tbody>
            {% for check in checks %}
            <tr>
                <th>{{ check.id }}</th>
                <td>{{ check.status_code }}</td>
                <td>{{ check.h1 }}</td>
                <td>{{ check.title }}</td>
                <td>{{ check.description }}</td>
                <td>{{ check.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
</main>

<footer class="border-top py-3 mt-5 flex-shrink-0">
    <div class="text-center">
        <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>